<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CI index page</title>
</head>
<body>
    <form action="/build" method="post">
        <% if (locals.error) { %><strong style="color: red"><%= locals.error %></strong><% } %>
        <% if (locals.message) { %><strong style="color: green"><%= locals.message %></strong><% } %>
        <table border="1">
            <thead>
            <tr>
                <th colspan="2">Запуск сборки</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label for="commit_hash">Хеш комита:</label>
                </td>
                <td>
                    <input name="commitHash" id="commit_hash">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="build_command">Сборочная команда:</label>
                </td>
                <td>
                    <textarea name="buildCommand" id="build_command"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Запустить сборку</button></td>
            </tr>
            </tbody>
        </table>
    </form>

    <br>

    <% if (queue.length) { %>
        <table border="1">
            <thead>
            <tr>
                <th colspan="3">Очередь на сборку</th>
            </tr>
            <tr>
                <th>№</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% queue.forEach((task) => { %>
                <tr>
                    <td><%= task.id %></td>
                    <td><a href="/build/<%= task.id %>">Детали</a></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <br>
    <% } %>

    <table border="1">
        <thead>
        <tr>
            <th colspan="3">Список прошлых сборок</th>
        </tr>
        <tr>
            <th>№</th>
            <th>Статус</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Успешно</td>
            <td><a href="/build/1">Детали</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Неуспешно</td>
            <td><a href="/build/2">Детали</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
